<h1>Editing Branch</h1>

<%= render 'form', branch: @branch %>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">RFC</th>
      <th scope="col">Position</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Markasdfasdfasdfasdf</td>
      <td>Ottoasdfasfdasfdasfdasdfasdf</td>
      <td>@mdo</td>
      <th scope="row"><%= link_to 'Edit', '#', class: 'btn btn-warning btn-sm' %></th>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <th scope="row"><%= link_to 'Edit', '#', class: 'btn btn-warning btn-sm' %></th>
    </tr>
    <tr>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <th scope="row"><%= link_to 'Edit', '#', class: 'btn btn-warning btn-sm' %></th>
    </tr>
  </tbody>
</table>

<%= link_to 'Show', [current_user, @branch], class: 'btn btn-info' %> |
<%= link_to 'Back', user_branches_path(current_user), class: 'btn btn-outline-secondary' %>
