<h1>Branches</h1>

<ul class="list-group list-group-flush">
  <% @branches.each do |branch| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <h6 class="card-title"><%= branch.name %></h6>
        </div>
        <div class="col">
          <p class="card-text">Employees: 
            <span class="badge badge-info badge-pill">
              <%= branch.employees.count %>
            </span>
          </p>
        </div>
        <div class="col">
          <td>
            <%= link_to 'Edit Branch', edit_user_branch_path(current_user, branch),
              class: 'btn btn-warning'%>
          </td>
          <td>
            <%= link_to 'Destroy Branch', [current_user, branch],
              method: :delete, data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger'%>
          </td>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Branch', new_user_branch_path(current_user), class: 'btn btn-success' %>
