<%= form_with(model: @employee, local: true, class: 'mb-5', id: 'employee-form') do |form| %>

  <%= render 'shared/serverside_validation_errors', errors: @employee.errors, resource: 'employee' %>

  <div class="form-row">
    <div class="field form-group col-md-4">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, autofocus: true, class: 'form-control',
        required: 'true', minlength: '2', aria: { label: 'First name' } %>
      <span class="error" aria-live="polite"></span>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :maiden_name %>
      <%= form.text_field :maiden_name, class: 'form-control',
        required: 'true', minlength: '2', aria: { label: 'Maiden name' } %>
      <span class="error" aria-live="polite"></span>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: 'form-control',
        required: 'true', minlength: '2', aria: { label: 'Last name' } %>
      <span class="error" aria-live="polite"></span>
    </div>
  </div>

  <div class="form-row">
    <div class="field form-group col-md-6">
      <% if edit_constraint %>
        <%= form.label :rfc %>
        <%= form.text_field :rfc, placeholder: "#{@employee.rfc}", disabled: true, class: 'form-control',
          aria: { label: 'RFC' } %>
        <span class="error" aria-live="polite"></span>
      <% else %>
        <%= form.label :rfc %>
        <%= form.text_field :rfc, class: 'form-control',
          required: 'true', minlength: '2', aria: { label: 'RFC' } %>
        <span class="error" aria-live="polite"></span>
      <% end %>
    </div>

    <div class="field form-group col-md-6">
      <%= form.label :position %>
      <%= form.text_field :position, class: 'form-control',
        minlength: '2', aria: { label: 'Position' } %>
      <span class="error" aria-live="polite"></span>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :company_branch %>
    <%= form.collection_select :company_branch, branches, :id, :name %>
  </div>

  <div class="actions">
    <% if edit_constraint %>
      <%= form.submit class: 'btn btn-warning' %>
      <%= link_to 'Delete Employee', [@branch, @employee],
        method: :delete, data: { confirm: 'Are you sure?' },
        id: 'submit-btn', class: 'btn btn-danger'%>
    <% else %>
      <%= form.submit id: 'submit-btn', class: 'btn btn-success' %>
    <% end %>
  </div>

  <%# <%= debug params %1> %>
  <%# <%= debug Branch.find_by(id: '17') %1> %>
  
<% end %>
